<template>
    <div class="gx-item-tree-info">
        <div class="photo"><img :src="photoPath" :alt="titlePath"/></div>
        <div class="title">{{ titlePath }}</div>
        <div class="price">{{ pricePath | currency}}원</div>
        <div class="shipping">{{ shippingPath }}</div>
        <div class="arrival">{{ arrivalPPath }}</div>
        <div><nuxt-link :to="'/vp/products/' + id">자세히보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: Number,
            required: true
        },
        photoPath: {
            type: String,
            required: true
        },
        titlePath: {
            type: String,
            required: true
        },
        pricePath: {
            type: Number,
            required: true
        },
        shippingPath: {
            type: String,
            required: true
        },
        arrivalPPath: {
            type: String,
            required: true
        }
    }
}
</script>
