<template>
    <div class="maintext">
        <div class="hadimg"><img src="/images/h1.png" alt="크리스마스 릴레이 특가"/></div>
        <copang-one
            v-for="(item, index) in products"
            v-bind:key="index"
            v-bind:id="item.id"
            v-bind:arrival-p-path="item.arrivalOne"
            v-bind:shipping-path="item.shippingOne"
            v-bind:price-path="item.priceOne"
            v-bind:title-path="item.titleName"
            v-bind:photo-path="item.photoName"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: [
                {
                    id: 1,
                    photoName: '/images/tree01.jpg',
                    titleName: '조아트 크리스마스 트리',
                    priceOne: 59900,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                },
                {
                    id: 2,
                    photoName: '/images/tree02.jpg',
                    titleName: '조아트 크리스마스 트리2',
                    priceOne: 65000,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                },
                {
                    id: 3,
                    photoName: '/images/tree03.jpg',
                    titleName: '크리스마스 별장식',
                    priceOne: 5800,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                },
                {
                    id: 4,
                    photoName: '/images/tree04.jpg',
                    titleName: '크리스마스 트리장식',
                    priceOne: 8000,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                },
                {
                    id: 5,
                    photoName: '/images/tree05.jpg',
                    titleName: '크리스마스 인형 장식',
                    priceOne: 7000,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                },
                {
                    id: 6,
                    photoName: '/images/tree06.jpg',
                    titleName: '크리스마스 나무장식',
                    priceOne: 11000,
                    shippingOne: '로켓배송',
                    arrivalOne: '내일(수) 도착 보장'
                }
            ]
        }
    }
}
</script>
